.loginBody-top {
  grid-row: top;
  overflow: auto;
  display: grid;
  grid-template-columns: auto 9%;
  grid-template-areas: "logoText logoImg";
}
.logoText {
  grid-area: logoText;
}
.logoText p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  color: #072218;
}
.logoImg {
  grid-area: logoImg;
  width: 100%;
}
