.footerWrapper {
  width: auto;
  padding: 20px 0px;
  display: flex;
  flex-flow: row wrap;
  flex: auto;
  justify-content: space-between;
}
.copyright * {
  font-size: 18px;
  color: white;
  letter-spacing: 0.1em;
  justify-content: center;
  margin: 3px;
}

.github img {
  width: 32px;
  height: auto;
  margin-right: 10px;
}
.instagram img {
  width: 35px;
  height: auto;
}
