.Project {
  background-color: #f1edfe;
  height: auto;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
}

@import url("project/ProjectInfo.scss");
@import url("project/ProjectContent.scss");
