.header {
  width: auto;
  padding: 10px 0px;
  display: flex;
  flex-flow: row wrap;
  flex: auto;
  justify-content: center;
  margin: 10px 10px;
  letter-spacing: 0.1em;
}

@import url("header/menu.scss");

@import url("header/welcome.scss");
