:root {
  --txtborder1: #3e16556d;
  --txtborder2: #3b04628b;
  --primary-color: #2e0041;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 9999s ease-out;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  background-color: transparent;
}

.loginBody {
  box-sizing: border-box;
  width: auto;
  margin: 50px 0;
  overflow: auto;
  padding: 20px;
  background: linear-gradient(
    79deg,
    rgba(255, 255, 255, 0.81) 42.39%,
    #8a8293 94.88%
  );
  box-shadow: 10px 20px 50px rgba(63, 59, 67, 0.354);
  border-radius: 20px;
  border: none;
  display: grid;
  grid-template-rows: [top] auto [middle] auto [base] auto;
}

@import url("body/top.scss");

@import url("body/middle.css");

@import url("body/base.scss");
