.headerMenu {
  z-index: 1;
  display: flex;
  flex: auto;
  flex-flow: row wrap;
  justify-content: center;
}
.header img {
  width: 120px;
  height: 40px;
  color: #fff;
}

.button {
  --background: #2f3545;
  --shadow: 0 2px 8px -1px #{rgba(#151924, 0.32)};
  --shadow-hover: 0 4px 20px -2px #{rgba(#151924, 0.5)};
  --text: #fff;
  --font-size: 20px;
  --duration: 0.44s;
  --move-hover: -4px;
  --font-shadow: var(--font-size);
  margin: 0px 3px;
  padding: 10px 5px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: var(--font-size);
  letter-spacing: 0.2em;
  border: none;
  background: transparent;
  outline: none;
  text-decoration: none;
  font-size: var(--font-size);
  color: var(--text);
  transform: translateY(var(--y)) translateZ(0);
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
  div {
    display: flex;
    overflow: hidden;
    text-shadow: 0 var(--font-shadow) 0 var(--text);
    span {
      display: block;
      font-size: var(--font-size);
      transition: transform var(--duration) ease;
      transform: translateY(var(--m)) translateZ(0);
      $i: 1;
      @while $i < 12 {
        &:nth-child(#{$i}) {
          transition-delay: $i / 20 + s;
        }
        $i: $i + 1;
      }
    }
  }
  &:hover {
    --y: var(--move-hover);
    --shadow: var(--shadow-hover);

    span {
      --m: calc(var(--font-size) * -1);
      color: #004b1a;
    }
  }
  &.reverse {
    --font-shadow: calc(var(--font-size) * -1);
    &:hover {
      span {
        --m: calc(var(--font-size));
        color: #4b0000b7;
      }
    }
  }
}
.classMenu {
  display: none;
  visibility: hidden;

  position: absolute;
  background-color: rgba(255, 255, 255, 0.743); /* 밝게 보이도록 배경색 추가 */
  border-radius: 10px;
  box-shadow: 0 6px 30px -30px #000;
  border-width: 1px 1px 0 0;
  border-color: #fff;
  border-style: solid;

  text-align: center;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: calc(7%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(255, 255, 255, 0.537);
  }
}
.onclick {
  visibility: visible;
  display: block;
}

.leftMenu,
.rightMenu {
  margin: 20px 0;
  padding: 0px 20px;
  display: inline-block;
  p {
    color: black;
    font-size: 20px;
    margin: 10px 0;
  }
}
.leftMenu {
  border-right: 2px dashed black;
}

.leftMenu p,
.rightMenu p {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  background: black;
  z-index: -1;
}
#main-menu {
  display: block;
  height: 100px;
  width: 100%;
  background: white;
  margin: 0px;
  z-index: 9;
}
#main-menu ul {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
}
#main-menu li {
  list-style-type: none;
  font-size: 13pt;
}
#main-menu a {
  color: #033d08;
  font-size: 13pt;
  text-decoration: none;
}
#main-menu a:hover {
  text-decoration: underline;
}
#hamburger-input {
  display: none;
}
#hamburger-menu {
  z-index: 1;
  position: absolute;
  top: 80px;
  left: 20px;
  width: 30px;
  height: 30px;
  display: none;
  border: none;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(
    to bottom,
    #3d0e6100,
    #3d0e6100 20%,
    white 20%,
    white 40%,
    #3d0e6100 40%,
    #3d0e6100 60%,
    white 60%,
    white 80%,
    #3d0e6100 80%,
    #3d0e6100 100%
  );
}
#hamburger-menu #sidebar-menu {
  z-index: 1;
  visibility: hidden;
  position: fixed;
  top: 110px;
  left: -250px;
  width: 200px;
  height: 100%;
  background-color: white;
  opacity: 100%;
  transition: 0.3s;
  padding: 0px 10px;
  box-sizing: border-box;
}
#hamburger-menu h3 {
  color: #004b1a;
  font-size: 15pt;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  overflow: hidden;
}
#hamburger-menu ul {
  padding-left: 0px;
}
#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}
#hamburger-menu a {
  color: #004b1a;
  font-size: 10pt;
  text-decoration: none;
}
#hamburger-menu a:hover {
  text-decoration: none;
}
#hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
  left: 0;
}
#hamburger-input:checked ~ .overlay {
  visibility: visible;
  opacity: 0.4;
}
#main-menu {
  display: none;
}

.dropdown {
  position: relative;
  display: list-item;
}
.dropdown-content {
  display: none;
  position: relative;
  z-index: 1;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content a {
  text-decoration: none;
  font-size: 10pt;
  float: none;
  color: #004b1a;
  padding: 1px 5px;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
  text-decoration: none;
}
.dropdown:hover .dropdown-content {
  display: inline-block;
  height: 200px;
}
.dropdown .dropbtn {
  font-size: 13pt;
  color: black;
  background-color: inherit;
  display: none;
}
.dropdown .dropbtn:hover {
  display: inline;
}

@media (max-width: 500px) {
  html {
    overflow: hidden;
  }
  body {
    overflow-y: auto;
  }
  #hamburger-menu {
    display: inline;
  }
  .headerMenu {
    display: none;
  }
  .button {
    --text: white;
    color: #004b1a;
    font-size: 11pt;
    white-space: nowrap;
    animation: none;
  }
  .button span {
    overflow: hidden;
  }
  .button span:hover {
    transform: none;
    overflow: hidden;
  }
  .button {
    transition: none;
    transform: none;
  }
}
